<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for MinLinq.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Release (Any CPU)&quot; configuration in project &quot;c:\Projects\LINQSQO\MinLinq\MinLinq\MinLinq.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1715" Action="None" />
  </Rules>
</RuleSet>